// @mixin page-content($padding,$font-size){
//     padding: $padding;
//     text-align: center;
//     font-size:$font-size;
//     color: green;
// }

// navbar
@mixin navbar-min-960(){
    display: flex;
    justify-content: space-evenly;
    
}






// header
@mixin header-container(){
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}







// Main Containter
@mixin page-container(){
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}



// Child Container


// Blog
@mixin blog-container(){
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}




// margins
@mixin page-margins(){
    margin-top: 64px;
    margin-bottom: 64px;
    margin-left: auto;
    margin-right: auto;
}
