html {
  font-size: 16px;
}

body {
  background-color: #0b0c10;
  color: white;
  margin: 0;
  font-family: "Roboto Mono", monospace;
  margin-bottom: 64px;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: auto;
  background-color: #0b0c10;
}

header .nav-bar {
  width: 100%;
  height: auto;
  z-index: 1;
  position: fixed;
  background-color: #0b0c10;
  top: 0;
}

header ul {
  padding-left: 0;
  margin: 0;
}

header ul li {
  list-style-type: none;
  font-size: 1rem;
  font-family: "Roboto Mono", monospace;
  font-weight: normal;
  text-align: center;
}

header a {
  padding: 0;
  background-color: #0b0c10;
  text-decoration: none;
  color: #fff;
}

header a:hover {
  color: #66fcf1;
  background-color: #0b0c10;
  font-size: 120%;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

@media only screen and (min-width: 320px) and (max-width: 575px) {
  header header .nav-bar {
    height: auto;
    width: 100%;
  }
  header .nav-bar ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  header .nav-bar ul li {
    width: 100%;
    font-size: 1rem;
  }
  header .gradient-text {
    font-size: 1rem;
  }
}

@media only screen and (min-width: 576px) and (max-width: 768px) {
  header header .nav-bar {
    height: auto;
    width: 100%;
  }
  header .nav-bar ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  header .nav-bar ul li {
    width: 100%;
    font-size: 1.25rem;
  }
  header .gradient-text {
    font-size: 1.5rem;
  }
}

@media only screen and (min-width: 769px) and (max-width: 992px) {
  header header .nav-bar {
    height: auto;
    width: 100%;
  }
  header .nav-bar ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  header .nav-bar ul li {
    width: 100%;
    font-size: 1.5rem;
  }
  header .gradient-text {
    font-size: 1.5rem;
  }
}

@media only screen and (min-width: 993px) and (max-width: 1900px) {
  header header .nav-bar {
    height: auto;
    width: 100%;
  }
  header .nav-bar ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  header .nav-bar ul li {
    width: 100%;
    font-size: 1.5rem;
  }
  header .gradient-text {
    font-size: 1.5rem;
  }
}

.wrap {
  height: 100%;
  width: auto;
}

.gradient-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  font-family: "Roboto Mono", monospace;
  background: -webkit-gradient(linear, left top, right top, from(#66fcf1), color-stop(#ff0490), color-stop(#8f00f1), to(#39ff14));
  background: linear-gradient(to right, #66fcf1, #ff0490, #8f00f1, #39ff14);
  background-size: 300% 300%;
  -webkit-animation: neon 2s ease-in-out infinite;
          animation: neon 2s ease-in-out infinite;
  background-clip: text;
  -webkit-background-clip: text;
  color: black;
  font-size: 10rem;
  -webkit-transition: color .4s ease-in-out;
  transition: color .4s ease-in-out;
  text-shadow: 2px 2px 10px #66fcf22c;
  margin: 0px 0px 0px 0px;
}

.gradient-text .reverse-letter {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  color: #66fcf1;
}

.gradient-text:hover {
  color: rgba(0, 0, 0, 0);
}

@-webkit-keyframes neon {
  0% {
    background-position: left;
  }
  15% {
    background-position: right;
  }
  25% {
    background-position: left;
  }
  50% {
    background-position: right;
  }
  75% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}

@keyframes neon {
  0% {
    background-position: left;
  }
  15% {
    background-position: right;
  }
  25% {
    background-position: left;
  }
  50% {
    background-position: right;
  }
  75% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}

div.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-left: 10px;
  width: 100%;
  height: auto;
  position: fixed;
  z-index: 1;
  background-color: #0b0c10;
}

div.logo a:link {
  text-decoration: none;
}

div.logo a:visited {
  text-decoration: none;
}

div.logo a:hover {
  text-decoration: none;
}

div.logo a:active {
  text-decoration: none;
}

div.logo .gradient-text {
  background: -webkit-gradient(linear, left top, right top, from(#66fcf1), color-stop(#ff0490), color-stop(#8f00f1), to(#39ff14));
  background: linear-gradient(to right, #66fcf1, #ff0490, #8f00f1, #39ff14);
  background-size: 300% 300%;
  background-clip: text;
  -webkit-background-clip: text;
  color: black;
  font-size: 1rem;
  font-family: "Roboto Mono", monospace;
  -webkit-transition: color .4s ease-in-out;
  transition: color .4s ease-in-out;
  text-shadow: 2px 2px 5px #66fcf242;
  margin: 0px 0px 0px 0px;
}

div.logo .gradient-text .reverse-letter {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  color: #66fcf1;
}

div.logo h1.gradient-text {
  font-family: "Roboto Mono", monospace;
}

div.logo .gradient-text:hover {
  color: rgba(0, 0, 0, 0);
}

@keyframes neon {
  0% {
    background-position: left;
  }
  15% {
    background-position: right;
  }
  25% {
    background-position: left;
  }
  50% {
    background-position: right;
  }
  75% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}

.page-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 64px;
  margin-bottom: 100px;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  height: auto;
  padding-top: 64px;
}

.page-container .main-heading {
  font-size: 5vw;
  width: auto;
  text-align: center;
}

.page-container .main-text {
  text-align: center;
  width: 80%;
}

.page-container .sub-heading {
  font-size: 4vw;
  width: auto;
  text-align: center;
  text-shadow: 2px 2px 5px #ff00ff;
}

.page-container .par-text {
  font-size: 2vw;
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
}

@media only screen and (max-device-width: 375px) {
  .page-container h1 {
    text-align: center;
  }
}

.hello-pic {
  height: auto;
  max-width: 60%;
  padding: 0;
}

#footer-bar {
  height: auto;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #66fcf1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#footer-bar ul {
  list-style-type: none;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
}

#footer-bar li {
  float: left;
}

#footer-bar .social {
  height: auto;
  width: 20px;
  color: black;
  margin: 8px;
}

#footer-bar .social:hover {
  -webkit-transform: scale(140%);
          transform: scale(140%);
}

@media only screen and (max-device-width: 375px) {
  .social {
    height: auto;
    margin: 8px;
    -webkit-transform: scale(80%);
            transform: scale(80%);
    -webkit-transition: 2s;
    transition: 2s;
  }
}

@media only screen and (max-device-width: 375px) and (max-device-width: 375px) {
  #footer-bar {
    background-color: #66fcf1;
    height: auto;
    width: 100%;
  }
}

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  font-size: 3vw;
  font-family: "Roboto Mono", monospace;
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  color: #fff;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  border-radius: 20px;
  border-color: #66fcf1;
  border: 2px solid #66fcf1;
  background-color: #0b0c10;
}

input[type="text"], textarea {
  border-radius: 20px;
  border-color: #66fcf1;
  border: 2px solid #66fcf1;
  background-color: #0b0c10;
  color: white;
}

input[type="text"]:hover, textarea:hover {
  color: #66fcf1;
  -webkit-box-shadow: 4px 4px 24px #ff00ff;
          box-shadow: 4px 4px 24px #ff00ff;
  -webkit-transform: scale(110%);
          transform: scale(110%);
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #66fcf1;
}

input:focus {
  outline: none;
}

/* Add a background color and some padding around the form */
.contact-form {
  border-radius: 5px;
  background-color: #0b0c10;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 70%;
  margin-bottom: 24px;
}

label {
  font-size: 4vw;
}

@media only screen and (max-device-width: 375px) {
  .page-container {
    margin-bottom: 24px;
    margin-top: 24px;
  }
}

.blog-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 60%;
  border-radius: 20px;
  border-color: #66fcf1;
  border: 2px solid #66fcf1;
  padding: 24px;
  margin: 2%;
}

.blog-container:hover {
  color: #66fcf1;
  -webkit-box-shadow: 4px 4px 24px #ff00ff;
          box-shadow: 4px 4px 24px #ff00ff;
  -webkit-transform: scale(110%);
          transform: scale(110%);
}

.blog-container .blog-text {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.blog-container .blog-heading {
  font-size: 5vw;
  font-weight: bold;
  margin: 0;
}

.blog-container time {
  font-size: 3vw;
}

.blog-container p {
  font-size: 2.5vw;
}

.blog-container .blog-button {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: auto;
  border-radius: 10%;
  margin-left: auto;
  padding: 4px 8px 4px 8px;
  background-color: #66fcf1;
  font-size: 3vw;
}

.blog-container .blog-button:hover {
  background-color: black;
  color: white;
  -webkit-box-shadow: 4px 4px 24px #ff00ff;
          box-shadow: 4px 4px 24px #ff00ff;
  border: 2px solid #66fcf1;
}

.blog-container .tool-img-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 5px 5px 5px 5px;
}

.blog-container .tool-img-container .tool-img {
  width: 5vw;
}
/*# sourceMappingURL=main.css.map */