
// HEADER MIXINS (FLEX PROPERTIES)-------------------

@mixin header-container(){
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

@mixin navbar-min-320-575(){
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    
    
}

@mixin navbar-min-576-768(){
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    
}

@mixin navbar-min-769-992(){
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}

@mixin navbar-min-993-1200(){
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}

// PAGE CONTAINER (FLEX PROPERTIES)-------------------

@mixin page-container(){
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;

}

@mixin blog-container(){
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    width: 70%;
}





// CONTACT FORM (FLEX PROPERTIES)-------------------








// FOOTER (FLEX PROPERTIES)-------------------















// MARGINS (FLEX PROPERTIES)-------------------

@mixin page-margins(){
    margin-top: 64px;
    margin-bottom: 100px;
    
}
